[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "libraries/Adafruit_BME280_Library"]
	path = libraries/Adafruit_BME280_Library
	url = git@github.com:adafruit/Adafruit_BME280_Library.git
[submodule "libraries/BSEC-Arduino-library"]
	path = libraries/BSEC-Arduino-library
	url = git@github.com:BoschSensortec/BSEC-Arduino-library.git
[submodule "libraries/InfluxDB-Client-for-Arduino"]
	path = libraries/InfluxDB-Client-for-Arduino
	url = git@github.com:tobiasschuerg/InfluxDB-Client-for-Arduino.git
[submodule "libraries/AsyncElegantOTA"]
	path = libraries/AsyncElegantOTA
	url = git@github.com:ayushsharma82/AsyncElegantOTA.git
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = git@github.com:me-no-dev/AsyncTCP.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = git@github.com:me-no-dev/ESPAsyncWebServer.git
[submodule "libraries/EmonLib"]
	path = libraries/EmonLib
	url = git@github.com:jack828/EmonLib.git
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "libraries/MHZ19"]
	path = libraries/MHZ19
	url = git@github.com:jack828/MHZ19.git
[submodule "libraries/PZEM-004T-v30"]
	path = libraries/PZEM-004T-v30
	url = git@github.com:mandulaj/PZEM-004T-v30.git
[submodule "libraries/Adafruit_ADS1X15"]
	path = libraries/Adafruit_ADS1X15
	url = git@github.com:adafruit/Adafruit_ADS1X15.git
